<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-footer">
      <a id="contact" style="cursor: pointer"><i class="ui large mail icon"></i></a>
      <a href="{{ site.author.url }}"><i class="ui large github icon"></i></a>
      <a href="{{ site.author.linkedin }}"><i class="ui large linkedin icon"></i></a>
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>

<div id="contact-modal" class="ui basic center modal">
  <div class="ui icon header">
    <i class="mail icon"></i>Contact
  </div>
  <div class="ui center aligned container">
    <p>anazzz1685@gmail.com</p>
    <p>chung1685@korea.ac.kr</p>
  </div>
</div>